@CHARSET "ISO-8859-1";

html {
	background-color: #b30000;
}
body {
    background-color: #D3D3D3;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.navigation {
    background-color: #b30000;
    color: #ffffff;
    width: 100%;
    display: table;
}
    .navigation li {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        float: left;
        width: 33%;
    }

    .navigation a:link {
        color: white;

    }

    .navigation a:visited{
        color: white;

    }
