@CHARSET "ISO-8859-1";

html {
	background-color: #7e0a1b;
}
body {
    background-color: #7e0a1b;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.navigation {
    background-color: #7e0a1b;
    color: #ffffff;
    width: 100%;
    display: table;
}
    .navigation li {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        float: left;
        width: 33%;
    }

    .navigation a:link {
        color: white;

    }

    .navigation a:visited{
        color: white;

    }

    h1{
        text-align:center;
    }

    footer{

        text-align: center;
    }

.navigation li:hover {
    background-color: darkred;
}


p{

    color: white;
}

ul {

color: white;}

ol{

    color: white;
}

table{

    color: white;
}

h3{

    color: white;
}